
.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    background-color: #deebf159;
    border-radius: 5px;
}
.connexion .titleConnexion {
    font-size: 1.1em;
    font-weight: 700;
    width: 250px;
    margin-bottom: 20px;
    color: #636363;
}

.form-joueur h2 {
    margin-top: 0px;
}
.form-joueur form {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.form-joueur .form-joueur_container-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}